<html>
    hasil
    <br>
    {{ dataNamaKegiatan }}
    <br>
    {{ dataTempatKegiatan }}
    <br>
    {{ dataWaktuKegiatan }}
    <table>
        {% for objek in semuaPesan %}
            <tr>
                <td>
                    {{ objek.modelNamaKegiatan }}
                    {{ objek.modelTempatKegiatan }}
                    {{ objek.modelWaktuKegiatan }}
                </td>
            </tr>
        {% endfor %}
    </table>
</html>