{% extends "base.html" %}
{% block customHead %}
    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

    <!-- Tempus Dominus Bootstrap 4 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
{% endblock customHead %}

{% block content %}
<!-- Landing Page / Header -->
<header class="container-fluid jumbotron">
    <div class="row align-items-center text-center">

        <!-- Isian Form -->
        <div class="col-8 order-1">
            <div class="row justify-content-center">
                <form method="POST" action="/jadwal/terima/">
                    {% csrf_token %} <br>
                    {{ formJadwal.namaKegiatan }} <br>
                    {{ formJadwal.tempatKegiatan }} <br>
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        {{ formJadwal.waktuKegiatan }}
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                    {{ formJadwal.kategoriKegiatan }}
                    <input type="submit" value="Buat Jadwal" name="tombol">
                </form>     
            </div>
        </div>

        <!-- Konten Jadwal -->
        <div class="col-4 order-2">
            <div class="row justify-content-center">
                <div id="headingGroup" class="col-md-10 text-md-left">

                    {% for kegiatan in semuaKegiatan %}
                    <!-- Kartu Kegiatan -->
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ kegiatan.namaKegiatan }}</h5>
                                <h6 class="card-subtitle mb-2">{{ kegiatan.tempatKegiatan }}</h6>
                                <p class="card-subtitle mb-2 text-muted">{{ kegiatan.waktuKegiatan }}</p>
                                <h6 class="card-subtitle mb-2">{{ kegiatan.kategoriKegiatan }}</h6>
                                <a href="#" class="btn btn-outline-danger btn-sm">Hapus Kegiatan</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>

    </div>
</header>

<script>
$(function () {
    $("#datetimepicker1").datetimepicker({
    format: 'YYYY-MM-DD HH:mm:ss',
    });
});
</script>
{% endblock content %}