<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    {% block customHead %}
    {% endblock customHead %}

    <title>Portofolio - Doan Andreas Nathanael</title>
</head>
<body>
    <!-- Navbar -->
    <nav id="mainNavbar" class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
        <!-- Container isi navbar -->
        <div class="container">
            <!-- Brand navbar -->
            <a class="navbar-brand" href="{% url 'homepage:index' %}">&&&</a>
            
            <!-- Toggler button -->
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Isi navbar -->
            <div class="collapse navbar-collapse" id="navLinks">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#experience">Experiences</a></li>
                    <li class="nav-item"><a class="nav-link" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:comingsoon' %}">Journey</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:comingsoon' %}">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'jadwal:index' %}">Jadwal</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
    
    <!-- Contacts -->
    <footer id="contacts" class="row align-items-center bg-dark contacts-section container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <p class="text-light display-4 visiting">Thanks for<br>visiting!</p>
                </div>
                <div class="align-self-center text-light h2">
                    <h5 class="mb-3">Get in touch:</h5>
                    <a href="#"><img src="{% static 'img/gmail-icon.svg' %}" alt="gmail" class="mr-4"></a>
                    <a href="#"><img src="{% static 'img/line-icon.svg' %}" alt="gmail" class="mr-4"></a>
                    <a href="#"><img src="{% static 'img/instagram-icon.svg' %}" alt="gmail" class="mr-4"></a>
                    <a href="#"><img src="{% static 'img/gitlab-icon.svg' %}" alt="gmail" class="mr-4"></a>
                    <a href="https://www.linkedin.com/in/doan-butarbutar-7b5680177/"><img src="{% static 'img/linkedin-icon.svg' %}" alt="gmail"></a>
                </div>
            </div>
        </div>
    </footer>

    
</body>
</html>