{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Landing Page / Header -->
<header class="container-fluid jumbotron">
    <div class="row align-items-center text-center">

        <!-- Image -->
        <div class="col-md-5 order-2 order-md-1">
            <div class="row justify-content-end">
                <div class="col-9">
                    <img class="img-fluid" src="{% static 'img/pluto-coming-soon-1.png' %}" alt="Coming soon illustration">
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="col order-1 order-md-2">
            <div class="row justify-content-center">
                <div id="headingGroup" class="col-10 h2 text-left">
                    <span class="h5">
                        Curious, eh?<br>
                        This section is<br>
                    </span> 
                    <span class="name display-2">Coming Soon.</span><br>
                    <span class="h5">
                        Come back later for more<br>
                        about me. Oh, and i can also<br>
                        notify you when it's finally up.<br>
                    </span>
                    <a href="#" class="btn btn-danger mt-4">Notify me!</a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock content %}