{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Landing Page / Header -->
    <header class="container-fluid jumbotron">
        <div class="row align-items-center text-center">

            <!-- Image -->
            <div class="col-md-5 order-1">
                <div class="row justify-content-end">
                    <div class="col-md-9">
                        <img class="img-fluid" src="{% static 'img/myphoto2.png' %}" alt="My photo">
                    </div>
                </div>
            </div>

            <!-- Content -->
            <div class="col-md-7 order-2">
                <div class="row justify-content-center">
                    <div id="headingGroup" class="col-md-10 text-md-left">
                        <span class="h5">My name is</span> <br>
                        <span class="name display-2">Doan Andreas Nathanael</span> <br>
                        <span class="h3 isi">Designer, Web Developer, Data Scientist.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <main class="container-fluid">
        <!-- About -->
        <section id="about" class="row align-items-center about-section p-5">
            <div class="container">
                <div class="row justify-content-between section-container">
                    <!-- About #1 -->
                    <div class="col-sm-10 col-lg-7 align-self-start section-style mb-3 mb-md-5">
                        <h2>About</h2>
                        <p class="h2">
                            I’m a conceptual thinker that strive to learn the deep roots and “Why’s” of the things that pique my curiosity. 
                            I love to create good designs that deliver impact to the audience.
                        </p>
                    </div>
            
                    <!-- About #2 -->
                    <div class="col-sm-10 col-lg-5 align-self-end">
                        <p>
                            My mom was a middle school teacher. Thanks to her, i develop a liking towards academics and teaching. 
                            I always like to tutor my friends in high school when i could, and when i do, i always try to paraphrase my words 
                            and actions carefully so that my friends would get the grasp of the subjects easily. Now as a designer, i am learning 
                            to bridge my intuition to paraphrase words, to paraphrasing visual cues so that people understand better.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Experience -->
        <section id="experience" class="row align-items-center experience-section">
            <div class="container section-style section-container p-5">
                <h2>Experiences</h2>
                <div class="row section-style ">
                    <!-- Kartu 1 -->
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Ristek Fasilkom UI 2020</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Junior Member DPD</h6>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam! Veniam, dolorum facere? Commodi, ut. Et, itaque quam!</p>
                                <a href="#experience" class="btn btn-outline-success btn-sm">Read more</a>
                            </div>
                        </div>
                    </div>

                    <!-- Kartu 2 -->
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Pekan Ristek 2019</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Creative Division Lead</h6>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam! Veniam, dolorum facere? Commodi, ut. Et, itaque quam!</p>
                                <a href="#experience" class="btn btn-outline-success btn-sm">Read more</a>
                            </div>
                        </div>
                    </div>

                    <!-- Kartu 3 -->
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">BEM Fasilkom UI</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Staff of Media</h6>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam! Veniam, dolorum facere? Commodi, ut. Et, itaque quam!</p>
                                <a href="#experience" class="btn btn-outline-success btn-sm">Read more</a>
                            </div>
                        </div>
                    </div>

                    <!-- Kartu 4 -->
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Fourth Thing</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam! Veniam, dolorum facere? Commodi, ut. Et, itaque quam!</p>
                                <a href="#experience" class="btn btn-outline-success btn-sm">Read more</a>
                            </div>
                        </div>
                    </div>
                        
                    <!-- Kartu 5 -->
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Fifth Thing</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam! Veniam, dolorum facere? Commodi, ut. Et, itaque quam!</p>
                                <a href="#experience" class="btn btn-outline-success btn-sm">Read more</a>
                            </div>
                        </div>
                    </div>
                
                    <!-- Kartu 6 -->
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Sixth Thing</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam! Veniam, dolorum facere? Commodi, ut. Et, itaque quam!</p>
                                <a href="#experience" class="btn btn-outline-success btn-sm">Read more</a>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </section>

        <!-- Skills -->
        <section id="skills" class="row align-items-center skills-section p-5">
            <div class="container section-style section-container">
                <h2>Skills</h2>
                <div class="row section-style card-group">
                    <!-- Kartu 1 -->
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Developer Skills</h5>
                                <p class="card-text">
                                    Python 3<br>
                                    Java<br>
                                    <br>
                                    HTML5<br>
                                    CSS3<br>
                                    JavaScript<br>
                                    Django<br>
                                    <br>
                                    Github<br>
                                    Gitlab<br>
                                    <br>
                                    MIPS                                        
                                </p>
                                <a href="#skills" class="btn btn-outline-success btn-sm">Read more</a>
                            </div>
                        </div>
                    </div>

                    <!-- Kartu 2 -->
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Designing Skills</h5>
                                <p class="card-text">
                                    “Universal Principles of Designs” Knowledge<br>
                                    <br>
                                    Graphic Design<br>
                                    <br>
                                    UI/UX Design<br>
                                    <br>
                                    Web Design<br>
                                    <br>
                                    Information Architecture                                      
                                    </p>
                                <a href="#skills" class="btn btn-outline-success btn-sm">Read more</a>
                            </div>
                        </div>
                    </div>

                    <!-- Kartu 3 -->
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Misc. Skills</h5>
                                <p class="card-text">
                                    Intrapersonal Skills<br>
                                    <br>
                                    Research Proficiency<br>
                                    <br>
                                    Working Under Pressure<br>
                                    <br>
                                    Organization Skills<br>
                                    <br>
                                    Progressive Thinking<br>
                                    <br>
                                    Open Minded                                        
                                </p>
                                <a href="#skills" class="btn btn-outline-success btn-sm">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}